.page-title {
	display: flex;
    padding-left: 60px;
    text-align: left;
    align-items: baseline;
    align-content: flex-end;
    justify-content: space-evenly;
}
.button-style {
    color: black;
    text-align: right;
    border: 2px solid black;
}
.title-style{
	padding : 10px 100px 0px 0px;
}
